{% extends 'common/base.html' %}

{% block container %}

  <div class="container">
    <ol class="breadcrumb">
      <li><a href="#">首页</a></li>
      <li class="active">{{ career.name }}</li>
    </ol>
  </div>
  <div class="container">
    <div class="course-stage">
      <div class="course-stage-lead">
        <dl class="course-stage-dl">
          <dt>{{ career.name }}</dt>
          <dd>{{ career.description }}</dd>
        </dl>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <ul class="course-data">
              <li><i class="v5-icon v5-icon-student"></i></li>
              <li>{{ course.student_count }}学员</li>
            </ul>
            <ul class="course-data">
              <li><i class="v5-icon v5-icon-time"></i></li>
              <li>60小时</li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <ul class="course-btn">
              <li><button type="button" class="btn btn-micv5 btn-xlg">体验学习</button></li>
              <li><a href="" class="link-default">课程详细介绍</a></li>
            </ul>
          </div>
        </div>
      </div>
        {% for stage in stages %}

      <section>
        <dl class="course-stage-dl">
          <dt>{{ stage.name }}</dt>
          <dd>{{ stage.description }}.</dd>
        </dl>
        <div class="row course-stage-item">

            {% for cour in stage.course_set.all %}
          <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="lead-img"><a href="{% url 'common:course_player' cour.id %}" title="{{ cour.description }}"><img src="{{ cour.image.url }}"></a></div>
            <div class="artc-bt">
              <h3><a href="" title="{{ cour.description }}">{{ cour.name }}</a></h3>
              <p><i class="v5-icon v5-icon-stime"></i>1小时12分钟</p>
            </div>
          </article>
            {% endfor %}

        </div>
      </section>

        {% endfor %}
    </div>
  </div>

{% endblock %}
