<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{% url 'common:login' %}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
   {% csrf_token %}
    <fieldset>
    <legend>麦子登陆页</legend>
    用户名：<br>
   <input type="text" name="username" id="username" placeholder="请输入用户名" ><br>
    密码：<br>
   <input type="password" name="password" id="password" placeholder="登陆密码" value="" ><br>
   <input type="hidden" name="source_url" value="{{ request.META.HTTP_REFERER }}">
   <br>
   <input type="submit" value="立即登录"><br>
    </fieldset>
 </form>
</body>
</html>
