{% extends 'common/base.html' %}
{% load static %}

{% block title %}个人中心-老师-我的消息{% endblock %}
{% block keywords%}首页关键词{% endblock %}
{% block description%}首页描述{% endblock %}

{% block container %}

  <div class="container-fluid container-banner">
    <div class="container container-uinfo">
      <div class="header-uinfo">
        <div class="uinfo-head"><img src="test/15.jpg"></div>
        <div class="uinfo-con">
          <div class="user-name"><span>歪脖钳短攻城</span></div>
        </div>
      </div>
      <div class="uc-nav">
        <ul>
          <li><a href="{% url 'common:home_teacher_class' request.user.id %}">我的班级</a></li>
          <li class="active"><a href="{% url 'common:home_teacher_message' request.user.id %}">我的消息</a><span class="msg-tips">1</span></li>
          <li><a href="{% url 'common:home_teacher_info' request.user.id %}">个人资料</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="uc-boxa">
    <div class="uc-h1">我的消息</div>
    <div class="uc-msg">
      <dl>
        <dt>
        	<span class="r-time">2014-08-22</span><a href="">用户A</a>在课程<a href="" class="link-default">Android应用基础与实践</a>回复您：
        </dt>
        <dd>
        	你的问题我之，前遇到故哦。你的问题我之，前遇到故哦。你的问题我之，前遇到故哦。你的问题我之，前遇到故哦。你的问题我之，前遇到故哦。
        </dd>
      </dl>
      <dl>
        <dt>
        	<span class="r-time">2014-08-22</span><a href="">用户A</a>在课程<a href="" class="link-default">Android应用基础与实践</a>回复您：
        </dt>
        <dd>
        	你的问题我之，前遇到故哦。你的问题我之，前遇到故哦。你的问题我之，前遇到故哦。你的问题我之，前遇到故哦。你的问题我之，前遇到故哦。
        </dd>
      </dl>
      <dl>
        <dt>
        	<span class="r-time">2014-08-22</span><a href="">用户A</a>在课程<a href="" class="link-default">Android应用基础与实践</a>回复您：
        </dt>
        <dd>
        	你的问题我之，前遇到故哦。你的问题我之，前遇到故哦。你的问题我之，前遇到故哦。你的问题我之，前遇到故哦。你的问题我之，前遇到故哦。
        </dd>
      </dl>
      <dl>
        <dt>
        	<span class="r-time">2014-08-22</span><a href="">用户A</a>在课程<a href="" class="link-default">Android应用基础与实践</a>回复您：
        </dt>
        <dd>
        	你的问题我之，前遇到故哦。你的问题我之，前遇到故哦。你的问题我之，前遇到故哦。你的问题我之，前遇到故哦。你的问题我之，前遇到故哦。
        </dd>
      </dl>
      <dl>
        <dt>
        	<span class="r-time">2014-08-22</span><a href="">用户A</a>在课程<a href="" class="link-default">Android应用基础与实践</a>回复您：
        </dt>
        <dd>
        	你的问题我之，前遇到故哦。你的问题我之，前遇到故哦。你的问题我之，前遇到故哦。你的问题我之，前遇到故哦。你的问题我之，前遇到故哦。
        </dd>
      </dl>
    </div>
  </div>

{% endblock %}